#sea {
	margin-top: 25vh;
	height: 75vh;
	width: 100%;
	background-color: #7eb7d6;
}

.wave {
	animation: movingWave 1s infinite alternate;
}


.shapeWave {

    position: absolute;
    background-color: #d2e4ec;
    height: 5em;
    width: 5em;
    margin-top: -3em;
    border-radius: 50%;
}
#waveZero {
	margin-left: -5em;
}
#waveTwo {
	margin-left: 5em;
}

#waveThree {
	margin-left: 10em;
}

#waveFour {
	margin-left: 15em;
}

#waveFive {
	margin-left: 20em;
}

#waveSix {
	margin-left: 25em;
}

#waveSeven {
	margin-left: 30em;
}

#waveEight {
	margin-left: 35em;
}

#waveNine {
	margin-left: 40em;
}

#waveTen {
	margin-left: 45em;
}

#waveEleven {
	margin-left: 50em;
}

#waveTwelve {
	margin-left: 55em;
}

#waveThirteen {
	margin-left: 60em;
}

#waveFourteen {
	margin-left: 65em;
}

#waveFifteen {
	margin-left: 70em;
}

#waveSixteen {
	margin-left: 75em;
}

#waveSeventeen {
	margin-left: 80em;
}

#waveEighteen {
	margin-left: 85em;
}

#waveNinteen {
	margin-left: 90em;
}

#waveTwenty {
	margin-left: 95em;
}

@keyframes movingWave {
	from {
	    margin-left: 0em;
	}
	to {
	    margin-left: 1em;
	}
}