#sea {
	margin-top: 25vh;
	height: 100vh;
	width: 100%;
	background-color: #7eb7d6;
}

.wave, #seaOverlap {
	animation: movingWave 1s infinite alternate;
}


.shapeWave {
    position: absolute;
    background-color: #d2e4ec;
    height: 5em;
    width: 5em;
    margin-left:-2em;
    margin-top: -3em;
    border-radius: 50%;
}


@keyframes movingWave {
	from {
	    margin-left: 0em;
	}
	to {
	    margin-left: 1em;
	}
}